<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

    <nav th:replace="layouts :: navbar"></nav>
    <div class="container">
        <h3>学生目录</h3>
        <hr>
        <!--新增学生按钮-->
        <a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">新增学生</a>
        <br>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>学生姓名</th>
                    <th>学生微信</th>
                    <th>学生邮箱</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="aStudent : ${students}">
                <td th:each="${aStudent.name}"></td>
                <td th:each="${aStudent.wechatId}"></td>
                <td th:each="${aStudent.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>